KAFKA_SERVER=kafka
MYSQL_TOPIC=mysql
SHIPPING_TOPIC=shipping
INVOICES_TOPIC=invoices

MYSQL_HOST=mysql
MYSQL_PASSWORD=mysql
MYSQL_DATABASE=oaken

AWS_ACCESS_KEY_ID=aws-id-123
AWS_SECRET_ACCESS_KEY=aws-key-123
MYSQL_LOG_BUCKET=oaken-spirits/docker/
SHIPPING_LOG_BUCKET=oaken-spirits/docker/
ACCOUNTING_LOG_BUCKET=oaken-spirits/docker/