[Unit]
Description=MySQL Kafka Processor
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /app/mysql_kafka.py
WorkingDirectory=/app/
Restart=always

[Install]
WantedBy=multi-user.target