KAFKA_SERVER=kafka
MYSQL_TOPIC=mysql
SHIPPING_TOPIC=shipping
INVOICES_TOPIC=invoices

MYSQL_HOST=oaken-mysql
MYSQL_ROOT_PASSWORD=mysql
MYSQL_USER=mysql
MYSQL_PASSWORD=mysql
MYSQL_DATABASE=oaken

AWS_ACCESS_KEY_ID=my-access-id
AWS_SECRET_ACCESS_KEY=my-access-key
MYSQL_LOG_BUCKET=oaken-spirits
SHIPPING_LOG_BUCKET=oaken-spirits
ACCOUNTING_LOG_BUCKET=oaken-spirits
MYSQL_LOG_BUCKET=docker