[Unit]
Description=Accounting Kafka Processor
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /app/accounting.py
WorkingDirectory=/app/
Restart=always

[Install]
WantedBy=multi-user.target